:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.recipe-image {
  padding-top: 5%;
  max-width: 1000px;
  max-height: 750px;
  width: auto;
  height: auto;;
}

.recipe-card-image {
  padding-top: 5%;
  max-width: 1000px;
  max-height: 1000px;
  width: auto;
  height: auto;;
}